.container {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.horizontalWrapper {
  display: flex;
  width: 200vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  overflow-x: auto;
}
