@import "@src/styles/global-variables.scss";

.container {
  height: 100vh;
  width: 100vw;
  background-color: $indigo-900;

  h2 {
    font-family: "Megrim", cursive;
    font-size: 5rem;
    color: $eigengrau;
    filter: drop-shadow(1px 1px 1px $eigengrau);
  }
}
