
.menuIcon {
  height: 0.2rem;
  width: 100%;
  display: block;
  background: rgba(243, 244, 246, 1);
  background: linear-gradient(90deg, rgba(209, 213, 219, 1) 23%, rgba(0, 0, 0, 0) 24%, rgba(0, 0, 0, 0) 38%, rgba(243, 244, 246, 1) 39%);
  border-radius: 0.2rem;
  transition: transform 550ms 100ms, margin 250ms, height 550ms, opacity 350ms;
  filter: drop-shadow(0px 0px 2px #F3F4F6);
}

.menuIcon:nth-of-type(2) {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.menuIcon:nth-of-type(odd) {
  transform: rotate(180deg);
}

.activated.menuIcon {
  height: 0.275rem;
}

.activated.menuIcon:nth-of-type(1) {
  transform: rotate(142deg) translate(0.05rem, -0.25rem);
}

.activated.menuIcon:nth-of-type(2) {
  transform: rotate(42deg);
  margin: 0;
}

.activated.menuIcon:nth-of-type(3) {
  opacity: 0;
}

.menuTransition {
  transition: width 750ms ease-in, height 750ms ease-in, top 750ms ease-in, right 750ms ease-in;
}

ul {
  transition: opacity 350ms ease;
}

ul.activated {
  transition: opacity 1s ease-out 650ms ;
}

li:nth-child(2):before, li:nth-child(2):after, li:nth-child(3):after {
  content: "";
  display: block;
  width: 80%;
  height: 0.1rem;
  border-radius: 0.2rem;
  position: absolute;
  background-color: rgba(243, 244, 246, 0);
  opacity: 0;
}

li.activated:nth-child(2):before, li.activated:nth-child(2):after, li.activated:nth-child(3):after {
  opacity: 1;
  background-color: rgba(243, 244, 246, 1);
  background-image: linear-gradient(90deg, rgba(22, 22, 29, 1) 23%, rgba(22, 22, 29, 0.5) 60%, rgba(22, 22, 29, 0) 86%);
}

li:nth-child(2):before {
 top: -2rem;
 right: 0;
}

li:nth-child(2):after, li:nth-child(3):after {
  bottom: -2rem;
  right: 0;
 }